.button{
  width: 9rem;
  height: 2rem;
  
  
  font-size: 1.07rem;
  border-radius: 7px;
  border: none;
  background: linear-gradient(90deg, rgba(83,76,204,0.5) 0%, rgba(255,20,0,0.5) 42%, rgba(23,133,156,0.5) 100%);
  box-shadow: 0 0 15px 0px rgba(2,0,36,0.3);
  cursor: pointer;
}
.button:hover{
  box-shadow: 0 0 15px 0px rgba(2,0,36,0.5);
}
